# Any configuration that you want to be default before anything else is loaded, put here. If something else gets set later on, that will take precedence over a variable with the same name in here.
# This is an excellent place to set the colour sheme.

userConfigLocation=~/.config/shest

# Set the colour theme.
# If you don't want any colours, just set all of these to an empty string. Ie "".
colourNormal="$colourReset$colourGrey"
colourPass="$colourGreen"
colourWarn="$colourBrown"
colourFail="$colourRed"
colourInsignificant="$colourDarkGrey"
colourTestName="$colourCyan"
colourTestMessage="$colourNormal"
colourStage="$colourPurple"
colourTestSet="$colourYellow"
colourTestType="$colorBrightCyan"

# Enable fast tests.
fastTests=false
